*, *::before, *::after {
    box-sizing: border-box;
}

/* custom properties */
:root {
    --ff-inter: 'Inter', sans-serif;

    --fs-h1: 2.625rem;
    --fs-h2: 1.125rem;
    --fs-body: .875rem;
    --fs-small: .75rem;

    --fw-extra-bold: 800;
    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;

    --fc-light: #ffffff;
    --fc-dark: #000000;
    --fc-semidark: rgb(0, 0, 0, .75);
    --fc-ligth-gray: rgb(0, 0, 0, .125);

}

@media (min-width:800px) {
    :root {
        --fs-h1: 2.825rem;
        --fs-h2: 1.5rem;
        --fs-body: 1rem;
        --fs-small: .875rem;
    }
}

/* general style */
body {
    margin: 0;
    font-family: var(--ff-inter);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    color: var(--fc-dark);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

/* typography */
h1, p {
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

.header-link {
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    text-decoration: none;
    cursor: pointer;
}

.header-main, .header-link {
    color: var(--fc-light);
}

.search-box, .btn-search {
    font-family: var(--ff-inter);
    font-size: var(--fs-body);
    font-weight: var(--fw-medium);
    color: var(--fc-semidark);
}

.movie-name {
    font-size: var(--fs-h2);
    font-weight: var(--fw-medium);
}

.movie-name, .movie-minutes, .movie-genre {
    margin-right: 1em;
}

.movie-rating, .movie-minutes, .movie-genre, .button-watchlist {
    font-size: var(--fs-small);
}

/* .movie-info-primary, .movie-info-secondary, .movie-intro {
    border: 1px solid black;
} */

.display-message {
    font-size: var(--fs-h2);
    color: var(--fc-ligth-gray);
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;
}

.display-image {
    max-width: 70px;
}

.display-message a {
    text-decoration: none;
    color: var(--fc-semidark);
    font-size: var(--fs-small);
    display: flex;
    align-items: center;
}

/* layout */
header {
    /* max-width: 100%; */
    background-color: rgb(0, 0, 0, .7);
    background-image: url(images/header-bg2.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.container {
    max-width: 600px;
    /* max-width: 90%; */
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
    padding: 2em 1em;
}

.header-container {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
}

@media (min-width: 430px) {
    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.form-search {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 0;
    transform: translateY(50%);
    z-index: 10;
    /* max-width: 460px;
    margin: 0 auto; */
    background-color: #ffffff;
    border-radius: .375em;
    border: 2px solid var(--fc-ligth-gray);
    display: flex;
    align-items: center;
}

.search-icon {
    width: 15px;
    height: 15px;
    margin-left: 1em;
    /* margin-right: 1em; */
}

.search-box {
    border: none;
    outline: none;
    padding: .65em;
    width: 100%;
}

.btn-search {
    margin-left: auto;
    background: none;
    border: none;
    border-left: 2px solid var(--fc-ligth-gray);
    cursor: pointer;
    padding: .65em 2em;
}

/* movie list */
.movie {
    display: grid;
    grid-gap: 1em;    
    grid-template-columns: 3fr 7fr ;
    grid-template-areas: 
        "infoPrimary infoPrimary"
        "coverImg intro"
        "infoSecondary infoSecondary" ; 
    border-bottom: 2px solid var(--fc-ligth-gray);
    padding: 2em 0;
}

@media (min-width: 450px) {
    .movie {
        grid-template-columns: 1fr 3fr ;
        grid-gap: 0 1em;
        grid-template-areas: 
            "coverImg infoPrimary"
            "coverImg infoSecondary"
            "coverImg intro" ;
    }
}

.movie:last-child {
    border-bottom: none;
}

.movie-cover-image {
    width: 100%;
    min-width: 105px;
    /* height: 100%; */
    grid-area: coverImg;
}

.movie-info-primary {
    grid-area: infoPrimary;
    display: flex;
    align-items: center;
}

.movie-info-secondary {
    grid-area: infoSecondary;
    display: flex;
    align-items: center;
}

.movie-intro {
    grid-area: intro;
    color: var(--fc-semidark);
}

.star-icon, .toggle-icon {
    width: 17px;
    height: 17px;
    margin-right: .25em;
}

.button-watchlist {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.read-more {
    color: var(--fc-dark);
}

/* pagination */
.page-select {
    text-align: center;
    display: none;
}

.page-number {
    font-family: var(--ff-inter);
    font-size: var(--fs-body);
    background: none;
    border: none;
    padding: .5em 1em;
    cursor: pointer;
}

.page-number:hover {
    background-color: var(--fc-semidark);
    color: var(--fc-light);
}

.page-number:hover {
    background-color: var(--fc-semidark);
    color: var(--fc-light);
}

.active {
    background-color: var(--fc-semidark);
    color: var(--fc-light);
}
